<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Esta es la autora que has elegido</h1>
    <h3>Nombre: <%= nombre %></h3>
    <p>Edad: <%= edad %></p>
    <p>Nacionalidad: <%= nacionalidad %></p>

    <p>Las películas de esta autora son:</p>
    <ul>
      <% peliculas.forEach(function(pelicula) { %>
      <li>Nombre de la película: <%= pelicula %></li>
      <% }) %>
    </ul>

    <p>Premios</p>
    <ul>
      <% premios.forEach(function(premio){ %>
      <li>Ganó el premio de: <%= premio%></li>
      <% }) %>
    </ul>
  </body>
</html>
